body {
    width: 1024px;
    background-color: white;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
}

#banner {
    background-image: url(banner.png);
    margin-top: -16px;
    height: 160px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

#banner span {
    font-size: 40px;
    font-weight: bold;
    color: rgb(163, 46, 91);
    text-shadow: 1px  1px 1px seashell,
                 1px -1px 1px seashell,
                 -1px  1px 1px seashell,
                 -1px -1px 1px brown;
    background-color: white;
    opacity: 80%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-left: 270px;
}

#banner a {
    text-decoration: none; 
}

#banner img {
    margin-top: 13px;
    margin-left: 24px;
}

nav {
    background-color: white;
    opacity: 88%;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 1024px;
    border-radius: 30px;
}

nav div {
    margin-top: 15px;
}

nav div a {
    margin-left: 130px;
    text-decoration: none;
    color: maroon;
    text-shadow: 1px  1px 1px seashell,
                 1px -1px 1px seashell,
                 -1px  1px 1px seashell,
                 -1px -1px 1px brown;
}

#body {
    margin-top: -10px;
    background-color: rgb(221, 255, 253);
    text-align: center;
    color: rgb(92, 22, 43);
}

h1, h3 {
    color: rgb(121, 31, 58);
    font-weight: normal;
}

span {
    font-family: verdana pro light;
}

.punkte {
    color: white;
    font-weight: bold;
    text-shadow: 1px  1px 1px mediumaquamarine,
                 1px -1px 1px white,
                 -1px  1px 1px white,
                 -1px -1px 1px white;
}

.beschreibung {
    font-size: 14px;
    margin-bottom: 50px;
    color: rgb(138, 95, 108);
    font-style: italic;
}

.box {
    margin-left: 109px;
    margin-bottom: 20px;
    background-color: white;
    width: 700px;
    padding: 10px 50px 23px 50px;
    border-radius: 60px;
    border-color: rgb(216, 137, 137);
    border-style: dotted;
    color: rgb(110, 73, 84);
    font-size: 14px;
    letter-spacing: 0.05em;
}

.box h3 {
    font-family: verdana;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
    font-size: 22px;
}

ul {
    text-align: left;
    margin-left: 95px;
}

form {
    margin-top: 150px;
    margin-left: 80px;
}

tr {
    height: 30px;
    color: rgb(46, 82, 97);
}

select {
    color: rgb(121, 31, 58);
}

#vorschau {
    position: absolute;
    margin-left: 540px;
    margin-top: 220px;
}

#behaelterBild {
    position: absolute;
    z-index: 5;
}

#kugel1Bild {
    position: absolute;
    z-index: 2;
    margin-left: 68px;
    margin-top: -105px;
}

#kugel2Bild {
    position: absolute;
    z-index: 0;
    margin-left: 18px;
    margin-top: -84px;
    width: 140px
}

#kugel3Bild {
    position: absolute;
    z-index: 0;
    margin-left: 140px;
    margin-top: -84px;
    width: 140px;
}

#toppingBild {
    position: absolute;
    z-index: 3;
    margin-top: -190px;
    margin-left: 52px;
}

#streuselBild {
    position: absolute;
    z-index: 4;
    margin-top: -120px;
    margin-left: 75px;
}

#beilageBild {
    position: absolute;
    z-index: 1;
    margin-top: -172px;
    margin-left: 180px;
}

table {
    background-color: rgb(211, 146, 157);
    width: 300px;
    margin-bottom: 80px;
    margin-top: 30px;
}

tbody {
    background-color: white
}

option {
    width: 110px;
}

#adresse {
    background-color: rgb(104, 123, 128);
    margin-left: 200px;
    margin-top: 50px;
}

#adresse * {
    color: black;
}

#preis, #kaufen {
    margin-left: -70px;
}

button {
    font-size: 16px;
    background-color: white;
    color: rgb(121, 31, 58);
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Klassiker */
#klassiker {
    margin-top: 4%;
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 900px;
}

#klassiker > div {
    background-color: white;
    width: 400px;
    height: 580px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid rgb(255, 199, 176);
}

#klassiker div div {
    margin-left: -300px;
    margin-top: 200px;
}

.name {
    font-size: 22px;
}

.meme {
    width: 300px;
}

/* Mitarbeiter-Login */
#anmelden {
    margin-top: 45px;
    margin-left: 20px;
}

input[name="nameMitarbeiter"] {
    margin-left: -10px;
    width: 190px;
}

/* Bestellungen */
#bestellungen {
    margin-left: 230px;
    margin-top: 10px;
    background-color: white;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    visibility: hidden;
}

#bestellungen a {
    color: rgb(121, 31, 58);
}

#deleteAll {
    margin-left: 10px;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    width: 965px;
    margin-left: 75px;
}

.flexcontainer div {
    width: 320px;
    text-align: left;
}

.flexcontainer div p {
    line-height: 0px;
    margin-left: 3px;
}

#finished, #delivered, #delete {
    font-size: 11px;
    margin-left: 2px;
}

/* Footer */
footer {
    background-color: rgb(86, 119, 114);
    color: whitesmoke;
    text-align: center;
    font-size: 14px;
}

a {
    color: white;
}

/* tablet iPad*/
@media screen and (min-width: 767px) and (max-width: 1024px) {

    body {
        width: 768px;
    }

    #banner span {
        margin-left: 154px;
    }

    nav div {
        font-size: 19px;
        margin-left: -88px;
    }

    nav div a {
        margin-left: 100px;
    }

    .beschreibung {
        font-size: 18px;
    }

    .box {
        font-size: 18px;
        margin-left: 10px;
        width: 643px;
    }

    #vorschau {
        margin-left: 400px;
    }

    form {
        margin-left: 10px;
    }

    #adresse {
        margin-left: 100px;
    }

    #klassiker {
        width: 700px;
        margin-left: 28px;
    }

    #klassiker > div {
        height: 610px;
    }

    .flexcontainer {
        width: 650px;
        margin-left: 100px;
    }

    footer {
        font-size: 18px;
    }

    #bestellungen {
        font-size: 20px;
        margin-left: 80px;
    }
}

/* for smaller web-screen */
@media screen and (min-width: 600px) and (max-width: 767px) {

    body {
        width: 600px;
    }

    #body {
        margin-top: 140px;
    }

    #banner span {
        margin-left: 70px;
    }

    nav {
        height: 190px;
    }

    nav div {
        font-size: 19px;
        margin-left: -88px;
        width: 300px;
        line-height: 40px;
    }

    nav div a {
        margin-left: 100px;
    }

    .beschreibung {
        font-size: 18px;
    }

    .box {
        font-size: 18px;
        margin-left: 0px;
        width: 494px;
    }

    #vorschau {
        margin-left: 300px;
    }

    form {
        margin-left: 4px;
    }

    #adresse {
        margin-left: 57px;
    }

    #preis, #kaufen {
        margin-left: 0px;
    }

    #klassiker {
        width: 540px;
        margin-left: 24px;
    }

    #klassiker > div {
        height: 610px;
    }

    .flexcontainer {
        width: 650px;
        margin-left: 18px;
    }

    input[name="nameMitarbeiter"] {
        font-size: 18px;
        width: 240px;
        margin-left: -20px;
    }

    footer {
        font-size: 18px;
    }

    #bestellungen {
        font-size: 20px;
        margin-left: 1px;
    }
}

/* smartphone iPhone 6/7/8 */
@media screen and (max-width: 600px) {

    body {
        width: 375px;
    }

    #body {
        margin-top: 130px;
    }

    #banner img {
        visibility: hidden;
    }

    #banner span {
        margin-left: -110px;
        margin-top: 8px;
        position: absolute;
        height: 50px;
        font-size: 36px;
    }

    nav {
        height: 190px;
    }

    nav div {
        font-size: 19px;
        margin-left: -88px;
        width: 300px;
        line-height: 40px;
    }

    nav div a {
        margin-left: 100px;
    }

    .beschreibung {
        font-size: 18px;
    }

    .box {
        font-size: 17px;
        margin-left: 0px;
        width: 269px;
    }

    #klassiker {
        width: 340px;
        margin-left: 20px;
    }

    #vorschau {
        margin-left: 35px;
        margin-top: 200px;
    }

    form {
        margin-top: 440px;
        margin-left: 38px;
        margin-bottom: -100px;
    }

    table {
        margin-bottom: 20px;
    }

    #adresse {
        margin-left: -34px;
        margin-bottom: 200px;
    }

    #adresse input, #adresse select {
        width: 90px;
    }

    #preis, #kaufen {
        margin-left: 0px;
        margin-top: -160px;
    }

    #klassiker > div {
        height: 610px;
    }

    .flexcontainer {
        width: 300px;
        margin-left: 40px;
    }

    #finished, #delivered, #delete {
        font-size: 14px;
    }

    #anmelden {
        margin-top: 45px;
        margin-left: 20px;
    }

    input[name="nameMitarbeiter"] {
        font-size: 18px;
        width: 240px;
        margin-left: -20px;
    }

    footer {
        font-size: 18px;
        margin-top: 110px;
    }

    #bestellungen {
        font-size: 18px;
        margin-left: 240px;
        position: absolute;
        margin-top: 10px;
    }
}